<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/enterprisedb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">senuja2014</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="com/servicemaster/models/KeyTable.hbm.xml"/>
    <mapping resource="com/servicemaster/models/Invoice.hbm.xml"/>
    <mapping resource="com/servicemaster/models/Rack.hbm.xml"/>
    <mapping resource="com/servicemaster/models/UomConversion.hbm.xml"/>
    <mapping resource="com/servicemaster/models/RackSlot.hbm.xml"/>
    <mapping resource="com/servicemaster/models/Category.hbm.xml"/>
    <mapping resource="com/servicemaster/models/Payment.hbm.xml"/>
    <mapping resource="com/servicemaster/models/UserPrivilage.hbm.xml"/>
    <mapping resource="com/servicemaster/models/BomItem.hbm.xml"/>
    <mapping resource="com/servicemaster/models/ServiceBay.hbm.xml"/>
    <mapping resource="com/servicemaster/models/Vehicle.hbm.xml"/>
    <mapping resource="com/servicemaster/models/ServiceHasItem.hbm.xml"/>
    <mapping resource="com/servicemaster/models/Address.hbm.xml"/>
    <mapping resource="com/servicemaster/models/Uom.hbm.xml"/>
    <mapping resource="com/servicemaster/models/Printer.hbm.xml"/>
    <mapping resource="com/servicemaster/models/Grn.hbm.xml"/>
    <mapping resource="com/servicemaster/models/Service.hbm.xml"/>
    <mapping resource="com/servicemaster/models/User.hbm.xml"/>
    <mapping resource="com/servicemaster/models/SubCategory.hbm.xml"/>
    <mapping resource="com/servicemaster/models/InvoiceLine.hbm.xml"/>
    <mapping resource="com/servicemaster/models/PaymentType.hbm.xml"/>
    <mapping resource="com/servicemaster/models/Bom.hbm.xml"/>
    <mapping resource="com/servicemaster/models/TelephoneNumber.hbm.xml"/>
    <mapping resource="com/servicemaster/models/BusinessAddress.hbm.xml"/>
    <mapping resource="com/servicemaster/models/Item.hbm.xml"/>
    <mapping resource="com/servicemaster/models/SubCategoryType.hbm.xml"/>
    <mapping resource="com/servicemaster/models/BusinessTelephone.hbm.xml"/>
    <mapping resource="com/servicemaster/models/Storage.hbm.xml"/>
    <mapping resource="com/servicemaster/models/BusinessPartner.hbm.xml"/>
    <mapping resource="com/servicemaster/models/VehicleType.hbm.xml"/>
    <mapping resource="com/servicemaster/models/Module.hbm.xml"/>
    <mapping resource="com/servicemaster/models/GrnLine.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
